.process {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &__cards-container {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--gutter);
  }
}
