$color-primary: #38c3ff;
$color-secondary: #ff5ecc;
$banner-color: #ff5ecc;

$banner-opacity: 0.9;
$background-opacity: 0.7;

:root {
  // COLORS
  // ORIGINAL #076afb
  // #57ddf7
  // #57aff7
  // #5787f7

  // #fc58ef
  // #fc58c5
  // #f51dad
  --color-primary: #38c3ff;
  --color-secondary: #ff5ecc;
  --black: #000000;
  --white: #ffffff;
  --body-bg-color: #fafafa;

  --gutter: 3rem;
  --title-gutter: 2rem;
  --section-gutter: 8rem;
}

//FONT FAMILY
$title-font: "Montserrat", sans-serif;
$body-font: "Lora", serif;
$bold: 700;

// FONT-SIZES
$basic-font-size: 1.7rem;
$mobile-font-size: 1.5rem;

$big-title: 4rem;
$title-font-size: 3.5rem;
$mobile-title-font-size: 3rem;

$offset: -30rem;
