// IMPORT NORMALIZE.CSS
@import "../../node_modules/normalize.css/normalize.css";

// IMPORT BOOTSTRAP
@import "../node_modules/bootstrap/scss/bootstrap";

@import "./abstracts/abstracts";
@import "./abstracts/animations";
@import "./abstracts/mediaqueries";

@import "./base/base";
@import "./base/base-classes";

@import "./components/process-card";

@import "./layout/footer";
@import "./layout/navbar";

@import "./sections/hero";
@import "./sections/ivs";
@import "./sections/process";
@import "./sections/testimonials";

@import "./typography/typography";
@import "./vendors/bootstrap-override";

@import "./utils/utils";
